button {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 10px 10px;
  border-radius: 8px;
  border: 0;
  background-color: rgb(255, 205, 66);
  font-size: 15px;
  box-shadow: rgb(253, 173, 0) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

button:hover {
  box-shadow: rgb(253, 173, 0) 0px 7px 0px 0px;
}

button:active {
  background-color: #ffcd42;
  box-shadow: rgb(253, 173, 0) 0px 0px 0px 0px;
  transform: translateY(5px);
}
button a {
  font-weight: bold;
  color: #438eff;
  text-decoration: none;
}
.tableCfg {
  width: 100%;
  min-height: 100px;
}
.menuButtons {
  text-align: end;
}
.titleCfg {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.textCfg {
  padding-top: 10px;
  font-size: 14px;
  font-family: sans-serif;
  text-align: justify;
  padding: 15px;
}
.formCfg {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}
.inputForm {
  width: 255px;
  margin-bottom: 5px;
}
.inputsDateNum {
  width: 125px;
  margin-bottom: 5px;
}
.copyright {
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
}
.destCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.destinyCfg {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  border: solid 1px;
  border-color: rgba(48, 48, 48, 0.2);
  border-radius: 10px;
  background-color: rgba(175, 175, 175, 0.2);
  text-align: center;
  width: 17em;
  margin-bottom: 5px;
}
.destinyImg {
  margin-top: 15px;
  border-radius: 10px;
  width: 15em;
  height: 150px;
  object-fit: fill;
}
.divPassagens {
  font-weight: bold;
  height: 3.5em;
  margin-bottom: 2em;
  padding-right: 1.25em;
  padding-left: 1.25em;
  padding-top: 1em;
  padding-bottom: 1.0em;
  font-family: sans-serif;
  background-color: #ffcd42;
  box-shadow: rgb(253, 173, 0) 0px 10px 0px 0px;
  border-radius: 0.35em;
}

.dateInput, .textInput, .numberInput, .ticketOpt, .messageInput {
  width: 7.2em;
  margin-right: 1.25em;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 4px 4px;
  border: 0px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background-color: #fff3d4;
  transition: all 0.1s ease 0s;

}
.textInput {
  text-align: center;
  width: 12em;
}
.messageInput {
  font-family: sans-serif;
  font-size: 12px;
  text-align: justify;
  width: 40em;
}
.ticketOpt {
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  color: #000000
}
.numberInput {
  width: 3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.ticketOpt:hover {
  position: relative;
  display: inline;
}
.classOpt {
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background-color: #fff3d4;
  padding: 0.55em 2.27em 0.55em 2.27em;
  color: #000000
}
.classOpt:hover {
  position: relative;
  display: inline;
}
.dropdownDest {
  display: inline-block;
  position: relative;
}
.dropdownDest-content, .classDropdownDest-content {
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  background-color: #fff3d4;
  width: 5.60em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.315);
  padding: 0.55em 0.55em;
  z-index: 1;
  top: 100%;
  left: 0;
  margin-top: 0.25em;
}
.classDropdownDest-content {
  width: 7.5em;
}
.dropdownDest:hover .dropdownDest-content {
  display: block;
}
.dropdownDest:hover .classDropdownDest-content {
  display: block;
}